.contact {
  padding: 64px 0px 120px;
}

.toast {
  position: absolute;
  top: -30px;
  opacity: 0;
  transition: 0.3s all ease;
  width: 100%;
}

.toast div {
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0px 0px 5px rgb(99, 96, 96);
  padding: 30px 30px 40px;
  border-radius: 3px;
  position: relative;
  background: white;
}

.contact-top {
  position: fixed;
  top: 0;
  max-width: 1152px;
  width: calc(100% - 40px);
}

.toast span {
  width: 0;
  position: absolute;
  bottom: 0.6px;
  left: 0;
  height: 7px;
  background: green;
  border-radius: 3px;
  transition: 5s all ease;
}

.contact h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
}

.contact p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.contact-form {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
}

.contact-names {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-names label {
  width: 49%;
  margin-top: 25px;
}

.contact-form input {
  width: 100%;
}

input, textarea {
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  width: 100%;
  padding: 10px 14px;
  margin-top: 8px;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 20px;
  font-family: 'Inter';
  font-style: normal;
  transition: 0.3s all ease;
}

input:focus {
  border: 1px solid #84CAFF;
  outline: none;
}

textarea:focus {
  border: 1px solid #84CAFF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
  border-radius: 8px;
  outline: none;
}

input::placeholder, textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
  font-family: 'Inter';
  font-style: normal;
}

textarea {
  resize: none;
  height: 132px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #475467;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  border-radius: 6px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.container input:checked ~ .checkmark {
  background-color: white;
  border: 1px solid #1570EF;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}
  
.container .checkmark:after {
  left: 6px;
  top: 1px;
  width: 3px;
  height: 9px;
  border: solid #1570EF;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.contact-form button {
  padding: 12px 20px;
  margin-top: 5px;
  width: 720px;
  height: 48px;
  background: #1570EF;
  border: 1px solid #1570EF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  transition: 0.3s all ease;
}

.contact-form button:hover {
  background: #175CD3;
}

@media screen and (max-width: 768px) {
.contact {
  padding: 0px 0px 60px;
}
.contact p {
  font-size: 18px;
}
.contact-names label {
  width: 100%;
}
.contact-names {
  flex-direction: column;
}
.lname {
  margin-top: 0 !important;
}
input, textarea {
  margin-top: 0px;
}
}